In [116]:
import numpy as np
import csv
import math
import pandas as pd

In [140]:
df = pd.read_excel("HeadlineData.xlsx")

In [141]:
df = df.dropna()
print(df.head)

<bound method NDFrame.head of         headline_nr                                           headline label
0                 0  There Were 2 Mass Shootings In Texas Last Week...     N
1                 1  Will Smith Joins Diplo And Nicky Jam For The 2...     O
2                 2    Hugh Grant Marries For The First Time At Age 57     O
3                 3  Jim Carrey Blasts 'Castrato' Adam Schiff And D...     O
4                 4  Julianna Margulies Uses Donald Trump Poop Bags...     O
...             ...                                                ...   ...
150146       150146                                   Complicated Cuba     o
150147       150147               Your Pets, Eating Ice Cream (PHOTOS)     p
150148       150148  First Look' Photos That Will Make You Believe ...     p
150149       150149      Recommendations for Avoiding Toxic Pet Treats     o
150150       150150   The Best Fast-Food Burger: A HuffPost Deathmatch     o

[2021 rows x 3 columns]>

In [142]:
df["label"] = df["label"].str.lower()
df["headline"] = df["headline"].str.lower()
print(df.head)

<bound method NDFrame.head of         headline_nr                                           headline label
0                 0  there were 2 mass shootings in texas last week...     n
1                 1  will smith joins diplo and nicky jam for the 2...     o
2                 2    hugh grant marries for the first time at age 57     o
3                 3  jim carrey blasts 'castrato' adam schiff and d...     o
4                 4  julianna margulies uses donald trump poop bags...     o
...             ...                                                ...   ...
150146       150146                                   complicated cuba     o
150147       150147               your pets, eating ice cream (photos)     p
150148       150148  first look' photos that will make you believe ...     p
150149       150149      recommendations for avoiding toxic pet treats     o
150150       150150   the best fast-food burger: a huffpost deathmatch     o

[2021 rows x 3 columns]>

In [143]:
df['headline'] = df['headline'].str.replace(',', '')
df['headline'] = df['headline'].str.replace(':', '')
df['headline'] = df['headline'].str.replace('.', '')
df['headline'] = df['headline'].str.replace(';', '')
df['headline'] = df['headline'].str.replace("'", '')
df['headline'] = df['headline'].str.replace('?', '')
df['headline'] = df['headline'].str.replace('!', '')
df['headline'] = df['headline'].str.replace('*', '')
df['headline'] = df['headline'].str.replace('(', '')
df['headline'] = df['headline'].str.replace(')', '')
df['headline'] = df['headline'].str.replace('/', '')
df['headline'] = df['headline'].str.replace("`", '')
df['headline'] = df['headline'].str.replace("´", '')
df['headline'] = df['headline'].str.replace("‘", '')
df['headline'] = df['headline'].str.replace("’", '')
df['headline'] = df['headline'].str.replace('\d+', '')
print(df.head)

<bound method NDFrame.head of         headline_nr                                           headline label
0                 0  there were  mass shootings in texas last week ...     n
1                 1  will smith joins diplo and nicky jam for the  ...     o
2                 2      hugh grant marries for the first time at age      o
3                 3  jim carrey blasts castrato adam schiff and dem...     o
4                 4  julianna margulies uses donald trump poop bags...     o
...             ...                                                ...   ...
150146       150146                                   complicated cuba     o
150147       150147                  your pets eating ice cream photos     p
150148       150148  first look photos that will make you believe i...     p
150149       150149      recommendations for avoiding toxic pet treats     o
150150       150150    the best fast-food burger a huffpost deathmatch     o

[2021 rows x 3 columns]>

In [144]:
df["headline"] = df["headline"].str.split(pat=' ')

In [145]:
print(df.head)

<bound method NDFrame.head of         headline_nr                                           headline label
0                 0  [there, were, , mass, shootings, in, texas, la...     n
1                 1  [will, smith, joins, diplo, and, nicky, jam, f...     o
2                 2  [hugh, grant, marries, for, the, first, time, ...     o
3                 3  [jim, carrey, blasts, castrato, adam, schiff, ...     o
4                 4  [julianna, margulies, uses, donald, trump, poo...     o
...             ...                                                ...   ...
150146       150146                                [complicated, cuba]     o
150147       150147           [your, pets, eating, ice, cream, photos]     p
150148       150148  [first, look, photos, that, will, make, you, b...     p
150149       150149  [recommendations, for, avoiding, toxic, pet, t...     o
150150       150150  [the, best, fast-food, burger, a, huffpost, de...     o

[2021 rows x 3 columns]>

In [146]:
dfTraining=df[:1600]
dfTesting=df[1600:]

In [147]:
print(dfTraining.head)
print(dfTesting.head)

<bound method NDFrame.head of         headline_nr                                           headline label
0                 0  [there, were, , mass, shootings, in, texas, la...     n
1                 1  [will, smith, joins, diplo, and, nicky, jam, f...     o
2                 2  [hugh, grant, marries, for, the, first, time, ...     o
3                 3  [jim, carrey, blasts, castrato, adam, schiff, ...     o
4                 4  [julianna, margulies, uses, donald, trump, poo...     o
...             ...                                                ...   ...
108226       108226  [the, seemingly-virtuous, often-dangerous, wor...     o
108227       108227  [game-changing, plays, from, week, , in, the, ...     o
108228       108228  [the, art, of, growing, old, how, does, anyone...     p
108229       108229  [koko, jones, former, percussionist, for, whit...     o
108230       108230          [can, we, make, people, want, to, change]     o

[1600 rows x 3 columns]>
<bound method NDFrame.head of         headline_nr                                           headline label
108231       108231  [my, mother, re-formed, her, rock, band, --, a...     p
108232       108232  [why, the, story, of, muhammad, alis, rebellio...     p
108233       108233        [process, rules, are, made, to, be, broken]     p
108234       108234  [, things, i, didnt, need, to, raise, a, child...     o
108235       108235  [project, , a, portrait, of, millennial, artis...     o
...             ...                                                ...   ...
150146       150146                                [complicated, cuba]     o
150147       150147           [your, pets, eating, ice, cream, photos]     p
150148       150148  [first, look, photos, that, will, make, you, b...     p
150149       150149  [recommendations, for, avoiding, toxic, pet, t...     o
150150       150150  [the, best, fast-food, burger, a, huffpost, de...     o

[421 rows x 3 columns]>

In [197]:
def train_naive_bayes(dfTraining):
    for i in dfTraining["headline"]:
        for word in i:
            if word in Vocabulary:
                continue
            else:
                Vocabulary.append(word)

    TrainingDocs = len(dfTraining["headline"])
    VSize = len(Vocabulary)
    print("Training with ",TrainingDocs," Headlines and ", VSize," unique Words")

    TrainingPos = dfTraining[dfTraining["label"]=="p"].count()
    TrainingNeg = dfTraining[dfTraining["label"]=="n"].count()
    TrainingNeu = dfTraining[dfTraining["label"]=="o"].count()
    print("Positive: ",TrainingPos["label"])
    print("Negative: ",TrainingNeg["label"])
    print("Neutral: ",TrainingNeu["label"])

    PriorPos = np.log(TrainingPos["label"]/TrainingDocs)
    PriorNeg = np.log(TrainingNeg["label"]/TrainingDocs)
    PriorNeu = np.log(TrainingNeu["label"]/TrainingDocs)

    #for Vword in Vocabulary:
        #for line in TrainingPos["headline"]:
            #for Element in line:
    print(PriorNeu)
    print(PriorNeg)
    print(PriorPos)

In [151]:
Vocabulary =[]
print(dfTraining["headline"].str[0])

0                 there
1                  will
2                  hugh
3                   jim
4              julianna
              ...
108226              the
108227    game-changing
108228              the
108229             koko
108230              can
Name: headline, Length: 1600, dtype: object

In [198]:
train_naive_bayes(dfTraining)

Training with  1600  Headlines and  5333  unique Words
Positive:  331
Negative:  595
Neutral:  674
-0.8645287973155655
-0.9891975026822428
-1.5756405328508096

In [159]:
print(V_Size)

5333

1600